body {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.dFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategrey;
    border-radius: 5px;
    height: 200px;
    width: 400px;
}